.main-container {
  max-width: 21rem;
  background-color: var(--color-white);
  border-radius: var(--radius);
  margin: 2rem auto;
  padding: var(--spacing);

  box-shadow: 0 .5rem 3rem #c5c5c5;
}

.qr-image {
  border-radius: inherit;
}

.description {
  color: var(--color-dark);
  margin: var(--spacing) var(--spacing) 0;
  text-align: center;
  line-height: 2rem;
}

.directions {
  font-size: 1rem;
  color: var(--color-light);
  margin: var(--spacing);
  text-align: center;
  line-height: 1rem;
}

footer {
  text-align: center;
  margin: var(--spacing) 0;

  span {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: #6161fc;
}
